<div class="navigationPanel">
  <span class="logo logoBlue">spa-<span class="logoWhite">atm</span></span>
  <div *ngIf="view !== 'pin'" class="exit" (click)="onExit()">
    <span>Exit</span><i class="material-icons exitIcon">logout</i>
  </div>
</div>
<app-pin-view *ngIf="view === 'pin'" (success)="onPinSuccess()"></app-pin-view>
<app-select-operation-view
  *ngIf="view === 'operations'"
  (balance)="onBalanceScreen()"
  (withdrawal)="onWithdrawalScreen()"
></app-select-operation-view>
<app-balance-view
  *ngIf="view === 'balance'"
  (goBack)="onBackToOperations()"
></app-balance-view>
<app-withdrawal-view
  *ngIf="view === 'withdrawal'"
  (goBack)="onBackToOperations()"
></app-withdrawal-view>
