<div>{{ title }}</div>
<div (click)="onExit()">Exit</div>
<app-pin-view *ngIf="view === 'pin'" (success)="onPinSuccess()"></app-pin-view>
<app-select-operation-view
  *ngIf="view === 'operations'"
  (balance)="onBalanceScreen()"
  (withdrawal)="onWithdrawalScreen()"
></app-select-operation-view>
<app-balance-view
  *ngIf="view === 'balance'"
  (goBack)="onBackToBalance()"
></app-balance-view>
<app-withdrawal-view
  *ngIf="view === 'withdrawal'"
  (goBack)="onBackToBalance()"
></app-withdrawal-view>
